/*=============Basics================*/

html {
    scroll-behavior: smooth;
}

*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Montserrat';
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
    text-decoration: none;
}

i {
    font-size: 1.3rem;
    margin-right: 10px;
    color: hsl(139, 84%, 50%);
}

ul {
    margin: 0;
    padding-left: 50px;
    margin-top: -20px;
    font-size: 1.2rem;
}

.source i {
    font-size: 0.8rem !important;
}


.greyed {
    background-color: #e9ecef;
}



/*=============================*/



/*=============Header================*/

header {
	display: flex;
	padding: 30px;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	transition: 500ms;
}
nav {
	margin-right: 70px;
}
nav a {
	display: inline-block;
	margin-left: 30px;
	font-size: 25px;
	text-decoration: none;
    font-weight: 700;
	color: rgb(0, 55, 55);
	text-transform: uppercase;
	border-bottom:  5px solid transparent;
	padding: 10px 1px;
	transition: 200ms;
}
.active {
	border-color: hsl(139, 84%, 50%);
}

nav a:hover {
	border-color: hsl(139, 84%, 50%);
}
.logo {
	flex: 1;
	font-size: 4rem;
    font-family: 'Montserrat';
    font-weight: 900;
    letter-spacing: -0.5vh;
	margin-left: 70px;
	color: rgb(0, 55, 55);
}
.bgc {
	background: #eee;
	padding: 10px;
    z-index: 2;
}
.bgc .logo {
	font-size: 40px;
	color: hsl(139, 84%, 50%);
    letter-spacing: -0.3vh;
}
.bgc nav a {
	color: hsl(139, 84%, 50%);
    font-size: 20px;
}

.bgc nav .active {
    border-color: rgb(0, 55, 55);
}

.bgc nav a:hover {
    border-color: rgb(0, 55, 55);
}



/*=============Landing Page================*/

.video-linear {
    background-image: linear-gradient(to bottom,rgba(27,27,27,0) 0%,rgba(27,27,27,0.6) 100%) !important;
    position: absolute;
    height: 100vh;
    width: 100vw;
    z-index: -1;
    }

.Nepal {
    display: flex;

}

.Nepal img {
    position: absolute;
    width: auto;
    height: 150px;
    top: 67vh;
    left: 12vh;
    z-index: -1;
}

.Nepal h1 {
    position: absolute;
    text-align: center;
    font-family: 'Montserrat';
    color: rgb(0, 55, 55);
    top: 72vh;
    right: 10vh;
    font-size: 3rem;
    z-index: -1;
}

.Nepal p {
    position: absolute;
    font-family: 'Montserrat';
    color: rgb(0, 55, 55);
    top: 87vh;
    right: 15vh;
    font-size: 1.3rem;
    z-index: -1;
}

.section-1 {
	width: 100%;
	background-size: cover;
	height: 100vh;
	background-position: center;
}

/*=============================*/



/*=============Sections================*/

.section {
    margin:0;
	padding: 78px;
    z-index: -1;
}


.section h1 {
	padding: 8px;
	font-size: 50px;
    text-align: center;
    margin-top: 20px;
}

.section p {
	line-height: 1.8em;
    font-size: 1.5rem;
	font-weight: 300;
    margin: 0;
    text-align: justify;
}

.section h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.section h3 {
    font-size: 1.4rem;
    margin: 0;
}


.h2-border {
    border: 3px solid hsl(139, 84%, 50%);
    padding: 1vw 0 0 1vw;
    border-radius: 50px;
    text-align: center;
    margin-bottom: 20px;
}

.section-title {
    margin: 0 !important;
}

.section-heading {
    margin-bottom: 20px !important;
}

.section-heading p {
    text-align: center;
    margin-top: -5px;
    font-size: 1.2rem;
}

.section-title::after {
    content: "]";
    color: hsl(139, 84%, 50%);
    padding-left: 30px;
}

.section-title::before {
    content: "[";
    color: hsl(139, 84%, 50%);
    padding-right: 30px;
}


/*=============================*/



/*=============About================*/

#About {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}



.nepal-flag img{
    height: 68vh;
    margin-bottom: 20px;
}

.table-edit {
    width: 100%;
    height: auto;
    text-align: justify;
}

.table-edit td {
    padding-bottom: 12px;
    font-weight: 700;
}

.big-cell {
    font-size: 1rem;
    font-weight: lighter;
}



.hr-line {
    margin: auto;
    width: 30%;
    height: 5px;
    background-color: hsl(139, 84%, 50%);
    margin-bottom: 30px;
}

.about-heritage p {
    margin-bottom: 30px;

}

.buttons {
    display: flex;
    column-gap: 2rem;
    justify-content: center;
}

    footer {
        background-color: hsl(139, 84%, 50%);  
        width: 100vw;
        height: auto;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        column-gap: 20px;
        row-gap: 20px;
        padding: 5rem;
        
    }

    footer .our-info {
        font-size: 1.1rem;
        font-weight: 700;
        color: rgb(0, 55, 55);
        min-width: 250px;
    }

    footer .logo {
        margin: 0;
        padding: 0;

    }

    footer .logo a:hover {
        color: #fff !important;
    }


/*=============================*/

/*=============Explore================*/

.single-intro-text {
    padding: 45px 50px 40px 60px;
    -webkit-box-shadow: 0 8px 24px #E2E8ED;
    box-shadow: 0 8px 24px #E2E8ED;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -ms-border-radius: 4px;
    overflow: hidden;
    position: relative;
    margin: 15px 0;
    background: #fff;
    z-index: 0;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
  }



  
  .single-intro-text:hover {
    box-shadow: 0 16px 48px #E2E8ED;
  }
  
  .single-intro-text i {
    position: absolute;
    left: -10px;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
    top: 20px;
    font-size: 55px;
    color: #bababa;
  }
  
  .single-intro-text h4 {
    font-size: 20px;
    margin-bottom: 20px;
    font-weight: 700;
  }
  
  .single-intro-text p {
    margin-bottom: 0;
    font-size: 0.9rem;
    text-align : justify;
  }
  
  .single-intro-text .count-number {
    position: absolute;
    right: -55px;
    bottom: -55px;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -ms-border-radius: 50%;
   background-color: hsl(139, 84%, 50%);
    color: #fff;
    display: block;
    text-align: left;
    font-size: 16px;
    font-weight: 700;
    padding: 25px 30px;
  }
  
  .single-intro-text:hover i {
    color: hsl(139, 84%, 50%);
  }


.sites-container .h2-border {
    width: fit-content;
    padding-right: 1vw;
    margin: auto;
}

.sites-list {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
  }

  .flex-width {
    max-width: 100vw;
    flex-direction: column;
    margin: auto;
  }

.site {
    margin-bottom: 50px;
}


.site-pic-container img{
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
}

/*=============================*/

/*=============Queries================*/


@media screen and (min-width: 1260px)
{
    .flex-width {
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
        position: relative;
        width: 100%;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;
      }

      

}

@media screen and (min-width: 810px) and (max-width: 1260px)
{
    .flex-width {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
        position: relative;
        width: 100%;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;

      }

    }






@media screen and (max-width: 810px){
	header {
		flex-direction: column;
		padding: 20px;
	}

	nav {
		padding: 15px;
		margin: 0px;
	}

    .bgc .logo {
        font-size: 30px;
    }

    .bgc nav a {
        font-size: 15px;
    }


    .logo {
        margin: auto;
    }
    

    .Nepal img {
        position: absolute;
        width: auto;
        height: 150px;
        top: 55vh;
        left: 12vh;
        right: 12vh;
        z-index: -1;
        padding-right: 1rem;
    }
    
    .Nepal h1 {
        position: absolute;
        font-family: 'Montserrat';
        color: rgb(0, 55, 55);
        top: 75vh;
        right: 10vh;
        font-size: 3rem;
        z-index: -1;
        line-height: 1;
        padding-left: 1rem;
    }
    
    .Nepal p {
        position: absolute;
        font-family: 'Montserrat';
        color: rgb(0, 55, 55);
        top: 92vh;
        right: 15vh;
        font-size: 1.3rem;
        z-index: -1;
        padding-left: 1rem;
    }

    .section {
        margin: 0;
        padding: 8rem 58px 0 58px;
    }
    .section p, .readme p, ul {
        font-size: 1rem;
      }

    .section h1 {
        font-size: 30px;
    }

    .section h2 {
        font-size: 1.3rem;
        padding: 5px 5px 0 5px;
    }

    .section-title::after {
        padding-left: 10px;
    }

    .section-title::before {
        padding-right: 10px;
    }





    footer .our-info {
        text-align: center;
    }

    .exploration-items>*:first-child , .exploration-items, .selected, .flex-items {
        align-self: center !important;
    }

    .flex-items {
        min-width: 500px !important;
    }

    .greyed {
        padding-bottom: 78px !important;
    }

}

@media (max-width: 603px){

    header {
        flex-direction: row;
        justify-content: space-around;
        padding: 0 20px 0 20px;
    }

    nav .link {
        font-size: 18px;
    }

    .bgc {
        padding: 0 3rem 0 3rem ;
    }

    .bgc .link {
        font-size: 15px;
    }

     nav a {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: auto;
        }

        .nepal-flag img {
            height: 48vh;
        }

        .section {
            margin: 0;
            padding: 11rem 28px 0 28px;
        }


        .flex-items {
            min-width: 400px !important;
        }
    

}

/*=============================*/


/*=============Modal==========*/

.modal-container b, .next-page-btn b {
    margin-left: 10px;
    font-size: 1.5rem;
}


[type="checkbox"]:checked,
[type="checkbox"]:not(:checked){
  position: absolute;
  left: -9999px;
}
.modal-btn:checked + label,
.modal-btn:not(:checked) + label, .next-page-btn{
  position: relative;
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 0.9rem;
  line-height: 2;
  height: 50px;
  transition: all 200ms linear;
  border-radius: 40px;
  width: 140px;
  letter-spacing: -1px;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  text-align: center;
    -ms-flex-item-align: center;
    align-self: center;
  border: none;
  cursor: pointer;
  background-color:  hsl(139, 84%, 50%);
  color: #fff;
  box-shadow: 0 12px 35px 0 rgba(16,39,112,.25);
  margin-bottom: 20px;
}

.modal-btn:not(:checked) + label:hover, .next-page-btn:hover {
  background-color: #fff;
  color: hsl(139, 84%, 50%) !important;
}
.modal-btn:checked + label .uil,
.modal-btn:not(:checked) + label .uil{
	margin-left: 10px;
	font-size: 18px;
}
.modal-btn:checked + label:after,
.modal-btn:not(:checked) + label:after{
  position: fixed;
  top: 30px;
  right: 30px;
  z-index: 100;
  width: 40px;
  border-radius: 100%;
  height: 40px;
  text-align: center;
  line-height: 40px;
  font-size: 30px;
  font-weight: 900;
  background-color: hsl(139, 84%, 50%);
  color: #fff;
  font-family: 'Font Awesome 5 Free';
  content: '\f00d'; 
  box-shadow: 0 12px 25px 0 rgba(16,39,112,.25);
  transition: all 200ms linear;
  opacity: 0;
  pointer-events: none;
  transform: translateY(20px);
}
.modal-btn:checked + label:hover:after,
.modal-btn:not(:checked) + label:hover:after{
  background-color: #fff;
  color: hsl(139, 84%, 50%);
}
.modal-btn:checked + label:after{
  transition: opacity 300ms 300ms ease, transform 300ms 300ms ease, background-color 250ms linear, color 250ms linear;
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0);
}
.modal{
  position: fixed;
  display: block;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0 auto;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  overflow-x: hidden;
  background-color: rgba(31,32,41,.75);
  pointer-events: none;
  opacity: 0;
  transition: opacity 250ms 700ms ease;
  padding-left: 1rem;
  padding-right: 1rem;
}
.modal-btn:checked ~ .modal{
  pointer-events: auto;
  opacity: 1;
  transition: all 300ms ease-in-out;
}
.modal-wrap {
  position: relative;
  display: block;
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 4px;
  overflow: hidden;
  padding-bottom: 20px;
  background-color: #fff;
    -ms-flex-item-align: center;
    align-self: center;
    box-shadow: 0 12px 25px 0 rgba(199,175,189,.25);
  opacity: 0;
  transform: scale(0.6);
  transition: opacity 250ms 250ms ease, transform 300ms 250ms ease;
}


.modal-wrap img {
  display: block;
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.modal-wrap h3 {
    font-size: 2rem;
    padding: 20px 30px 0 30px;
    text-align: center;
}

.modal-wrap p {
  padding: 20px 30px 0 30px;
  font-size: 0.9rem;
}

.modal-wrap ul{
    padding-top: 30px;
    font-size: 0.9rem;
    line-height: 1.5;
}


.modal-btn:checked ~ .modal .modal-wrap{
  opacity: 1;
  transform: scale(1);
  transition: opacity 250ms 500ms ease, transform 350ms 500ms ease;
}

.modal-btn:checked ~ .modal-logo img {
  	filter: brightness(100%);
	transition: all 250ms linear;
}


@media screen and (max-width: 500px) {
	.modal-wrap {
		width: calc(100% - 40px);
		padding-bottom: 15px;
	}
	.modal-wrap p {
	  padding: 15px 20px 0 20px;
	}
}

/*=============================*/




.exploration-items {
     display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    row-gap: 60px;
    margin-top: 50px;
}

.exploration-items>*:first-child {
    align-self: stretch;
}

.exploration-items .selected {
    align-self: flex-end;
}

.flex-items {
        max-width: 50%;
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        min-width: 600px;
        
    }

.flex-item-child {
    display: flex;
    align-items: center;
    justify-content:flex-start;
    border: 5px solid hsl(139, 84%, 50%);
    border-radius: 20px;
    overflow: hidden;
    padding-right: 20px;
    box-shadow: 0 30px 60px 0 rgb(0, 55, 55);
    background-position: right center;
    transition: background-position 0.5s ease;
}

.flex-item-child:hover {
    background-color: hsl(139, 84%, 50%);
    border-color: rgb(0, 55, 55);

}

.flex-item-child:hover .child-name-container h2 {
    color: #fff;
}


.child-image-container {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    width: 250px;
    height: 200px;
    margin-right: 20px;
}

.child-name-container {
    margin: auto;
}

.child-name-container h2 {
    color: rgb(0, 55, 55);
}

